.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #172e5c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header a {
  text-decoration: none;
}

.App-link {
  color: #61dafb;
}

.twoCols {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.bankCard {
  box-shadow: 0px 0px 6px 0px rgb(185, 181, 185);
  border: 1px solid #172e5c;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: #61dafb;
}

.favRow a {
  text-decoration: none;
  color: inherit;
}

.bankCard:hover {
  text-decoration: none;
  box-shadow: 1px 1px 6px 1px rgb(131, 122, 131);
}

.bankRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bankLink:hover {
  text-shadow: -1px -1px 6px rgb(255, 255, 255), 1px 1px 6px rgb(243, 243, 243);
  cursor: pointer
}

.clickRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.clickEmoji {
  min-width: 20px;
  cursor: pointer;
  margin: 0 10px;
}

.clickEmoji:hover {
  text-shadow: -1px -1px 6px rgb(185, 181, 185), 1px 1px 6px rgb(185, 181, 185);
}

.favRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
}
